@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* @media (min-width: 768px) and (max-width: 1000px) {
    .for-check-out{
        
        max-height: 634px;
    }
    .discounts{
        font-size: 40px;
        padding-top: 60px;
        padding-left: 20px;
        max-width: 728px;
        max-height: 150px;
    }
    .check-out-button{
        margin-left: 20px;
    }
} */

.for-check-out {
    width: 1440px;
    height: 600px;
    background-image: url('../../../images/ForCheckOut.jpg');
    background-color: #00000066 40%;
}

.discounts {
    color: white;
    font-family: 'Montserrat';
    font-size: 96px;
    padding-top: 80px;
    padding-left: 40px;
}

.check-out-button {
    cursor: pointer;
    width: 218px;
    height: 58px;
    background-color: #92A134;
    color: white;
    margin-left: 40px;
    margin-top: 40px;
    border: none;
    border-radius: 8px;
    align-items: center;
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 600;
}

.check-out-button:hover {
    cursor: pointer;
    width: 218px;
    height: 58px;
    background-color: #92A134 ;
    color: white;
    margin-left: 40px;
    margin-top: 40px;
    border: none;
    border-radius: 8px;
    align-items: center;
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 400;

}