.add-to-cart {
    background: #92A134;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    border-radius: 4px;
}
  
.add-to-cart:hover:hover {
    background: #424436;
    color: white; 
}